
.header__container{
    display: flex;               /* Enable flexbox */
  justify-content: center;     /* Horizontally center the content */
  align-items: center;         /* Vertically center the content */
  width: 100%;                 /* Ensure the container takes up full width */
  height: 100vh; 
}